@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
}


header {
    align-items: center;
    background: black;
    display: flex;
    height: 100px;
    justify-content: space-between;
    left: 0;
    padding: 2%;
    position: fixed;
    top: 0;
    width: 100%;
}


.Logotipo {
    color: white;
    font-size: 50px;
}


.Navegación a {
    color: white;
    font-size: 16px;
    margin-left: 40px;
    position: relative;
    text-decoration: none;
}


.Navegación a::after {
    background: white;
    bottom: -8px;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    width: 100%;
}


.Navegación a:hover::after {
    transform: scaleX(1);
}


.Hombre1 {
    margin-top: 135px;
    display: flex;
    justify-content: center;
}



.Camisetas {
    display: flex;
    justify-content: center;
}

p {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: justify;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}


